name: kubernetes

on:
  workflow_run:
    workflows: ["dockerhub"]
    types:
      - completed

jobs:
  kubernetes:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - uses: actions/checkout@v1

      - name: 'Deploy'
        uses: 'deliverybot/helm@v1'
        with:
          release: 'full-coral'
          chart: 'api-chart'
          token: '${{ github.token }}'
          values:
            dockerhub.tag: '${{ github.sha }}'
        env:
          KUBECONFIG_FILE: '${{ secrets.KUBECONFIG }}'
