name: kubernetes

on:
  workflow_run:
    workflows: ["dockerhub"]
    types:
      - completed

jobs:
  kubernetes:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Setup Helm
        uses: Helm/setup-helm@v1

      - name: Package Helm Chart
        run: helm package api-chart

      - name: Deploy to Kubernetes
        run: helm upgrade full-coral --set dockerhub.tag=${{ github.sha }}
